
.content {
  width: 75%;
}
.content--header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header--title {
  color: #2688d3;
  font-size: 2rem; 
}
.header--activity {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.card-container {
  margin: 20px;
  padding: 10px;
}
.data-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto; 
}
.data-table th {
  background-color: #9fc6e4;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 1.2rem; 
}
.data-table td {
  background-color: white;
  padding: 10px;
  text-align: left;
  font-size: 1rem;
}
.data-table tr:hover {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 90%; 
  }
  .header--title {
    font-size: 1.5rem;
  }
  .data-table th, .data-table td {
    font-size: 0.9rem; 
    padding: 8px; 
  }
  .card-container {
    margin: 15px;
    padding: 8px;
  }
}


@media only screen and (max-width: 480px) {
  .content {
    width: 100%; 
  }
  .header--title {
    font-size: 1.2rem;
  }
  .header--activity {
    gap: 10px; 
    flex-direction: column; 
  }
  .card-container {
    margin: 10px; 
    padding: 5px;
  }
  .data-table th, .data-table td {
    font-size: 0.8rem; 
    padding: 5px;
  }
}
