/* Reset default body margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

#root {
    height: 100%; /* Ensure root div takes full viewport height */
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 100vh; /* Set sidebar height to full viewport height */
    width: 250px; /* Set a fixed width for the sidebar */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    background-color: #f8f9fa; /* Optional: add background color */
}

.logo {
    text-align: center;
    padding: 20px;
    color: #27374d;
    align-items: center;
    display: flex;
    gap: 20px;
}

.menu--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu--list .item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s ease-in-out;
    color: #27374d;
}

.menu--list .item:hover,
.menu--list .item.active {
    background-color: #dde6ed;
    color: #27374d;
    border-radius: 1px; /* Reduced border radius */
    gap: 15px;
}
/* Responsive styles */
@media only screen and (max-width: 768px) {
    .menu {
        height: auto; 
        gap: 1.5rem; 
    }
    .logo {
        padding: 15px; 
        gap: 15px; 
    }
    .menu--list .item {
        font-size: 1rem; 
        padding: 8px;
        gap: 15px; 
    }
}

@media only screen and (max-width: 480px) {
    .menu {
        gap: 1rem; 
        height: auto; 
    }
    .logo {
        flex-direction: column; 
        gap: 10px; 
    }
    .menu--list {
        gap: 10px;
    }
    .menu--list .item {
        font-size: 0.9rem; 
        padding: 5px; 
        gap: 10px; 
    }
}
